body{
    padding: 5;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/*
.btn-grid {
    display: grid;
    grid-template-columns: repeat (9, auto);
    gap: 10px;;
    margin: 20px 0;

}

.save-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px
}

.controls {
    display: flex;
    justify-content: right;
    align-items: center;
}
